{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid" style="">
	<div class="col-sm-12" style="margin-top: 60px;" align="center">
	<div class="col-sm-3" style="padding-top: 0px; background-color:; padding-bottom: 20px; box-shadow: 1px 3px 5px 5px #adb3b3">
		<div class="container bg-info" style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 30px;" align="center">
			<p style="font-size: 20px; color: #fff;">Signup Here</p>
		</div>
		<form action="" method="post">
			{% csrf_token %}
			<input type="text" name="username" placeholder="Enter Username" align="center"><br><br>
			<input type="email" name="email" placeholder="Enter Email" align="center"><br><br>
			<input type="password" name="password1" placeholder="Enter Password" align="center"><br><br>
			<input type="password" name="password2" placeholder="Confirm Password" align="center"><br><br>
			<button type="submit" class="btn btn-primary">Signin</button>
			<div>
			{% for message in messages %}
			<p>
				{{ message }}
			</p>
			{% endfor %}
		</div>
		</form>
		<p>Already have an account?<a href="\">Login here.</a></p>
		
	</div>
</div>

</div>
{% endblock %}
